
<div class="form-container">
  <h1>Employee Form</h1>

  <div class="form-group">
    <label class="control-label col-sm-2" for="name">Name</label>
    <div>
<input type="text" class="form-control"  value={{newName}} oninput={{action "onNameAdd"}}  placeholder="Enter Your Name Here">
    </div>
  </div>
  <div class="form-group">
    <label class="control-label col-sm-2" for="age">Age</label>
    <div>
      <input type="text" class="form-control" value={{newAge}} oninput={{action "onAgeAdd"}} placeholder="Enter Your Age Here">
    </div>
  </div>
  <div class="form-group">
    <label class="control-label col-sm-2" for="salary">Salary</label>
    <div>
      <input type="text" class="form-control" value={{newSalary}} oninput={{action "onSalaryAdd"}} placeholder="Enter Your Salary Here">
    </div>
  </div>

<button onclick={{action "onAdd"}} class="addBtn">Add</button>
</div>
<div >
  <h2>fullname: {{fullName}}</h2>
  <h1>Employees List</h1>
  {{employee-table
    employees=employees
    changeName=changeName
  }}
</div>
