<h1 style="color: blueviolet;">FORM</h1>

{{!-- <input placeholder="NAME" type="text" onchange={{action "nameChange"}}> --}}


<h2>{{name.newname1}}</h2>


<div>
 <label for="user-question">Name:</label>
<input id="user-question" type="text" placeholder="Enter the Name"  oninput={{action "nameChange"}} />
</div>



<div>
<label for="user-question1">Age:</label>
<input id="user-question1" type="number" placeholder="Enter the Age"  oninput={{action "ageChange"}} />
</div>



<div>
<label for="user-question2">Salary:</label>
<input id="user-question2" type="number" placeholder="Enter the Salary"  oninput={{action "salaryChange"}} />
</div>



<button onclick={{action "addbtn"}}>ADD</button>


<table>
  <thead>
    <tr>
    <th>name</th>
    <th>age</th>
    <th>salary</th>
  </tr>
  </thead>
  <tbody>
     
{{#each employees as |employee|}}
<tr>
  <td>{{employee.name}}</td>
  <td>{{employee.age}}</td>
  <td>{{employee.salary}}</td>
</tr>

{{/each}}

  </tbody>
 
</table>