{{!-- {{name}} --}}
{{yield}}
<h1>{{name.fullname}}</h1>

<h1><p>{{empava}}</p></h1>

<form id="myForm">

<div>
    <label for="Name">Name</label>
    <input type="text"  value={{newName}} oninput={{action (mut newName) value="target.value"}} placeholder="Enter your Name">
</div>
<div>
    <label for="age">Age</label>
    <input type="text"  value={{newAge}} oninput={{action (mut newAge) value="target.value"}} placeholder="Enter your Age">
</div>
<div>
    <label for="salary">Salary</label>
    <input type="text"  value={{newSalary}} oninput={{action (mut newSalary) value="target.value"}} placeholder="Enter your Salary">
</div>

<input value="Submit" onclick={{action "addUser"}} type="button">
</form>

<div>
    <h2>Name:{{namVar}}</h2>

    {{employee-table
    employees = name.employees
    changeName = changeName
    }}
</div>


<div>
    {{condition-rendering}}
</div>

{{!-- {{#employee-table  keys=keys}}
    "These are keys"
{{/employee-table}} --}}