 <h1>TABLE</h1>

<div id="checkbox">
<form action="/action_page.php">
<label for="admin-checkbox"> People Who Are Active</label> 
<input type="checkbox" id="admin-checkbox"  checked={{bool}} onchange={{action "isChecked" bool}}/>
</form>
</div>


<table>
<thead >
    <th>Name</th>
    <th>Age</th>
    <th>Salary</th>
    <th>Status</th>   
</thead>
<tbody>


{{#each employeesList as |name|}}
    {{#if bool}}
            <tr>
                <td>{{name.name}}</td> 
                    <td>{{name.age}}</td> 
                        <td>{{name.salary}}</td>
                            <td>{{name.status}}</td>
            </tr>
    {{else}}
                <tr>
                    <td>{{name.name}}</td> 
                        <td>{{name.age}}</td> 
                            <td>{{name.salary}}</td>
                                <td>{{name.status}}</td>
                </tr>
    {{/if}}
{{/each}}


</tbody>
</table>



{{#each employeesList as |employees|}}
<ul>
    <li>NAME: {{employees.name}}</li>
    <li>AGE: {{employees.age}}</li>
    <li>SALARY: {{employees.salary}}</li>
    <li>STATUS: {{employees.status}}</li>
</ul>
{{/each}}
