<h1>TABLE</h1>


<table>
  <thead>
    <tr>
    <th>name</th>
    <th>age</th>
    <th>salary</th>
    <th>status</th>
  </tr>
  </thead>
  <tbody>
     
{{#each employees as |employee|}}
    <tr>
      <td>{{employee.name}}</td>
      <td>{{employee.age}}</td>
      <td>{{employee.salary}}</td>
      {{#if isChecked}}
      <td>{{employee.status}}</td>
      {{else}}
      <td>{{employee.status}}</td>
      {{/if}}
    </tr> 
    {{/each}}
  </tbody>
 
</table>

<form action="/action_page.php">
  <input @type="checkbox" @id="activepeople" oninput={{action "ischecked"}} >
  <label for="activepeople"> People Who Are Active</label>
</form>


  